<div id="titulo" class="mt-4 mb-4"><h4>Registrarse</h4></div>
<div class="mb-3">
  <label for="label-nombre" class="form-label">Nombre:</label>
  <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Juan">
  <label for="" id="labelNombre"></label>
</div>
<div class="mb-3">
  <label for="label-apellido" class="form-label">Apellido:</label>
  <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Perez">
  <label for="" id="labelApellido"></label>
</div>
<div class="mb-3">
  <label for="label-edad" class="form-label">Edad:</label>
  <input type="number" class="form-control" id="edad" name="edad" placeholder="18">
  <label for="" id="labelEdad"></label>
</div>
<div class="mb-3">
  <label for="label-dni" class="form-label">DNI:</label>
  <input type="number" class="form-control" id="dni" name="dni" placeholder="12345678">
  <label for="" id="labelDNI"></label>
</div>
<div class="mb-3">
  <label for="label-email" class="form-label">Email:</label>
  <input type="email" class="form-control" id="email" name="correo" placeholder="example@gmail.com">
  <label for="" id="labelEmail"></label>
</div>
<div class="mb-3">
  <label for="label-contraseña" class="form-label">Contraseña:</label>
  <input type="new-password" class="form-control" id="password" name="password">
  <label for="" id="labelPassword"></label>
</div>
<div class="mb-3">
  <label for="label-verificar-contraseña" class="form-label">Confirmar Contraseña:</label>
  <input type="new-password" class="form-control" id="confirm-password" name="confirm-contraseña" >
  <label for="" id="labelPasswordConfirm"></label>
</div>
<div class="d-flex justify-content-center mb-3 mt-3">
    <button type="button" class="btn btn-warning m-1" onclick="window.history.go(-1)"><i class="fa fa-reply"></i>
        Volver</button>
    <button type="submit" class="btn btn-primary m-1" id="btnEnviar">Registrarse</button>
</div>



