<!DOCTYPE html>
<html lang="en">
<head><%- include('../../layout/head');%></head>
<body>
	<header><%- include('../../layout/header');%></header>
	<div class="text-center">
		<h1>Crear Nuevo Producto</h1>
	</div>
	<div class="form">
		<div class="d-flex justify-content-center" >	
			<form method="POST" action="/admin/product/create" id="form" enctype="multipart/form-data">
				<%- include('_form'); %>
			</form>
		</div>
	</div>
	<footer><%-include('../../layout/footer');%></footer>
</body>
</html>