<!DOCTYPE html>
<html lang="en">
<head><%- include('../../layout/head');%></head>
<body>
	<header><%- include('../../layout/header');%></header>
	<div class="text-center">
		<h1>Crear Nuevo Producto</h1>
	</div>
	<div class="form">
		<%- include('_form');%>
	</div>
	<footer><%- include('../../layout/footer');%></footer>
</body>
</html>